@using PagedList.Mvc
@using PagedList
@model IPagedList<OV.Web.Models.DeviationModel>
@{
    ViewBag.Title = "OV";
}
@Styles.Render("~/Content/PagedList.css")

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
        </div>
    </section>
}

<h3>Worklist</h3>

<table>
	<thead>
		<th>Namn</th>
		<th>Typ</th>
		<th>Giltig från</th>
		<th>Giltig till</th>
	</thead>
	
	<tbody>
		@foreach(var item in Model)
		{
			<tr>
				<td>@item.DeviationName</td>
				<td>@item.DeviationTypes.Single(x => x.Id == item.DeviationTypeId).Name</td>
				<td>@item.ValidFrom</td>
				<td>@item.ValidTo</td>
			</tr>
		}
	</tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new {page}), 
	new PagedListRenderOptions
	{
		LinkToFirstPageFormat = "<<", 
		LinkToNextPageFormat = ">",
		LinkToLastPageFormat = ">>",
		LinkToPreviousPageFormat = "<"
	})

<br/><br/>
