@model Deviation.Web.Models.DeviationModel

@{
    ViewBag.Title = "Edit";
}


<h2>Ändra avvikelse</h2>
<br/>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeviationName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DeviationName)
            @Html.ValidationMessageFor(model => model.DeviationName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DeviationTypeId)
        </div>
		<div class="editor-field">
			@Html.DropDownList("DeviationTypeId", new SelectList(Model.DeviationTypes, "Id", "Name", Model.DeviationTypeId))
			@Html.ValidationMessageFor(model => model.DeviationTypeId)
		</div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValidFrom)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValidFrom)
            @Html.ValidationMessageFor(model => model.ValidFrom)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ValidTo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ValidTo)
            @Html.ValidationMessageFor(model => model.ValidTo)
        </div>

		<p>
			@Html.Hidden("DeviationId", Model.DeviationId)
			<input type="submit" value="Spara" />
		</p>
    </fieldset>
}

<div>
    @Html.ActionLink("Tillbaka till lista", "Index", "Home")
</div>

