@model IEnumerable<Deviation.Web.Models.DeviationModel>
@{
    ViewBag.Title = "Deviation";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
        </div>
    </section>
}

<h3>Registrerade avvikelser:</h3>

@if (Model == null || !Model.Any()) { <text>Inga avvikelser</text>   }
else
{
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeviationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviationTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasBookings)
            </th>
			<th></th>
			<th></th>
        </tr>
    
        @foreach (var item in Model)
        {
            <tr class="tr_borderbottom">
                <td>
                    @Html.DisplayFor(modelItem => item.DeviationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviationTypes.Single(type => type.Id == item.DeviationTypeId).Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidFrom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidTo)
                </td>
                <td>@(item.HasBookings ? "Bokningar finns" : "Inga bokningar")</td>
				<td>
					<a href="http://localhost:1339?DeviationId=@(item.DeviationId)" target="_blank">Lägg till bokningar</a> 
				</td>
				<td>
					@using(Html.BeginForm("Edit", "Deviation", FormMethod.Get))
					{
						@Html.Hidden("DeviationId", item.DeviationId)
						@Html.Hidden("HasBookings", item.HasBookings)
						<input type="submit" value="Ändra"/>
					}
                </td>
            </tr>
        }
    
    </table>
}



    
<br/><br/>

@Html.ActionLink("Skapa avvikelse", "Create", "Deviation")
<br/><br/>
<br/><br/>
<br/><br/>



